bin
obj
packages

.vs
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env.local
.env.*.local

.settings
*.nupkg
*.suo
*.csproj.user
*.launch
launchSettings.json

.DS_Store
Thumbs.db
