<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseSchemaReader" version="2.7.2" targetFramework="net40" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net40" />
  <package id="FluentMigrator.Tools" version="1.6.2" targetFramework="net40" />
  <package id="MigratorDotNet" version="0.9.1" targetFramework="net40" />
  <package id="NPoco" version="4.0.2" targetFramework="net40" />
  <package id="NUnit" version="3.12.0" targetFramework="net40" />
</packages>